.header {
  background-color: $color-base-0;
  position: fixed;
  top: 0;
  left: 0;
  width: $size-full;
  z-index: 2;
  &__content {
    padding: $size-4 $size-0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-primary;
  }
  &__logo {
    font-family: $font-style-header;
    font-weight: $font-bold;
    font-size: $size-text-2xl;
    line-height: 1;
    font-style: italic;
    color: $color-primary;
    text-decoration: unset;
  }
  &__btn {
    position: relative;
  }
  &__counter {
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: $size-text-sm;
    background-color: $color-danger-50;
    color: $color-base-0;
    width: fit-content;
    height: fit-content;
    padding: 6px 8px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}