/* ========================================================================== */
/* Poestaka fonts scheme */
/* ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$font-style-header: "Crimson Text";
$font-style-body: "Roboto";

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
